*.o
gtfparse

*.env
*.gtf
*.gff

*.bam
*.bai
*.sam
*.cram
*.crai
*.bed
*.gz
*.vcf
*.vcf.gz
*.log
*.tmp
*.bak
*.swp
*.DS_Store
*.ipynb_checkpoints
__pycache__/
*.pyc
*.pyo
*.pyd

*.refmap
*.tmap
*.loci
*.fasta
*.fa
*.fastq
*.fq
*.fastq.gz
*.fq.gz
*.stats
*.tracking
*.tmap
agat*